<div class="edit-view">
  <div class="row">
    <div class="col-md-3">
      <h1>Img goes here!</h1>
      <h2>Details!</h2>
    </div>
    <div class="col-md-9">
      <ul class="nav nav-pills">
        <li><%= link_to "Add Photo", new_user_photo_path(@user) %></li>
        <li><%= link_to "Delete Photo" %></li>
      </ul>
    </div>
  </div>
</div>
