<div class="col-md-8 col-md-offset-2 text-center user-home">
  <p class="lead">"Do not go where the path may lead, go instead where there is no path and leave a trail." </p>
  <h5>— RALPH WALDO EMERSON</h5>
  <div class="user-controls">
    <%= link_to "Edit profile", edit_user_path, class: "btn btn-default btn-lg" %>
    <!-- <button type="button" class="btn btn-default btn-lg">Edit</button> -->
    <button type="button" class="btn btn-info btn-lg">View</button>
  </div>
</div>
