<!DOCTYPE html>
<html>
<head>
  <title>Fotos | Design Portfolio of Diego Avalon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar nav-style">
  <div class="container">
    <div class="site-title text-center">
      <h1><a href="#">Fotos</a></h1>
    </div>
    <div class="main-nav">
      <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

  </div>
</nav>

<%= yield %>

</body>
</html>
